@font-face {
  font-family: 'Christmas';
  src: url('./ChristmasCarolPersonalRegular-lgzPD.otf');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
    font-family: 'cursive';
    src: url('./ChocolatestoryfreepersonaluseS-j9RPG.otf');
    font-weight: normal;
    font-style: normal;
  }

:root {
  --color-bg: rgba(101, 120, 177, 0.587);
  --color-fg: #ffe39d;

  --font-body: sans-serif;
  --font-header: 'Christmas', sans-serif;
  --font-text: 'cursive', sans-serif;


  --step--2: clamp(0.6331rem, 0.6141rem + 0.0949vw, 0.6877rem);
  --step--1: clamp(0.844rem, 0.7993rem + 0.2234vw, 0.9724rem);
  --step-0: clamp(1.125rem, 1.038rem + 0.4348vw, 1.375rem);
  --step-1: clamp(1.4996rem, 1.345rem + 0.7733vw, 1.9443rem);
  --step-2: clamp(1.999rem, 1.7381rem + 1.3046vw, 2.7492rem);
  --step-3: clamp(2.6647rem, 2.2394rem + 2.1264vw, 3.8873rem);
  --step-4: clamp(3.552rem, 2.8756rem + 3.382vw, 5.4967rem);
  --step-5: clamp(4.7348rem, 3.6783rem + 5.2826vw, 7.7723rem);
}

html, body {
    height: 100vh;
}

@keyframes test {
    0% {background-color: rgb(71, 71, 117);}
    50% {background-color: rgb(83, 83, 168);}
    100% {background-color: rgb(71, 71, 117);}
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    animation-name: test;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    

    z-index: -1;
}

@keyframes gradient {
    0% {background-image: linear-gradient(blue,white);}
    50% {background-image: linear-gradient(rgb(89, 89, 191),rgb(240, 236, 165));}
    100% {background-image: linear-gradient(blue,white);}
}



main {
    text-align: center;
    padding: var(--step-1);
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.card {
    background-color: rgb(226, 78, 78);
    width: min(100% - 5rem, var(--container-max, 80ch));
    margin-inline: auto;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;


    outline-style: double;
    outline-width: 1rem;
    outline-color: gold;
}

.cat {
    margin-bottom: 1rem;
    outline-style: dashed;
    outline-color: orange;
    outline-width: 0.5rem;
    width: min(100% - 5rem, var(--container-max, 100ch));
    box-shadow: 0px 0px 100px darkred;
}

.ornament1 {
    width: min(30% - 5rem, var(--container-max, 35ch));
    height: fit-content;
    margin-top: 25%;
}

h1 {
    font-size: var(--step-5);
    line-height: 1;
    color: var(--color-fg);
    font-family: var(--font-header);
    letter-spacing: .1em;
    text-shadow: 4px 4px 4px darkred
}

p {
    font-size: var(--step-2);
    color: var(--color-fg);
    font-family: var(--font-text);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

@media screen and (max-width: 1000px) {
    .ornament1 {
        display: none;
    }
  }